<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Radar</title>
    <link rel="stylesheet" href="styles/index.css">
    <link type="text/css" rel="stylesheet" href="styles/goldenlayout-dark-theme.css" />
    <link type="text/css" rel="stylesheet" href="styles/goldenlayout-base.css" />
    <style>
    </style>
</head>
<body>
    <div id="wrapper">
        <ul id="menuContainer"></ul>
        <div id="layoutContainer"></div>
    </div>
</body>
</html>