<!DOCTYPE html>
<!-- origin: https://github.com/RaananW/babylonjs-webpack-es6 -->
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <title>Starwards Station</title>
        <link type="text/css" rel="stylesheet" href="styles/index.css" />
        <link type="text/css" rel="stylesheet" href="styles/tweakpane.css" />
        <style>
            html,
            body {
                overflow: hidden;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>

    <body>
        <div id="container"></div>
    </body>
</html>
