version: 2.1
orbs:
    node: circleci/node@1.1.6
jobs:
    build-and-test:
        executor:
            name: node/default
        steps:
            - checkout
            - node/with-cache:
                  steps:
                      - run: npm ci
                      - run: npm run lint
                      - run: npm run build
                      - run: npm test
                      - run: npm run pkg

workflows:
    build-and-test:
        jobs:
            - build-and-test
