version: 2.1
orbs:
    node: circleci/node@4.1.0

workflows:
    test:
        jobs:
            - node/test:
                  name: 'Test'
                  version: '15.11'
                  setup:
                      - node/install-npm:
                            version: 7.6.0
